@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat');
@import url('fonts/rockwen-webfont/stylesheet.css');
@import url('fonts/Century_Gothic/Century-Gothic.css');
@font-face {
  font-family: 'socialico';
  src: url('fonts/Socialico.eot'); /* IE9 Compat Modes */
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Socialico.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Socialico.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Socialico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Socialico.svg#Socialico') format('svg'); /* Legacy iOS */
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1440px;margin: 0 auto;text-align: center;font-family: "Century Gothic"}
a {color:inherit;text-decoration: none; display: inline-block;}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd{ padding:0; margin:0; }
img {display: block;}
.row, .row-m, .row-lg {max-width: 1100px;margin: 0 auto;}
.row-m {max-width: 1200px;}
.row-lg {max-width: 1235px;}
.row-100 {max-width: 100%;}
.w-100 {width: 100%;}
.socialMedia {font-family: 'socialico';}
.socialMedia a {font-family: 'socialico';}
.bl {display: block;}

/*flexbox*/
.flex {display: flex; flex-direction: row;}
.flex-c {display: flex; flex-direction: column;}
.in-flex {display: inline-flex;}
.space-btw {justify-content: space-between;}
.space-arr {justify-content: space-around;}
.flex-end {justify-content: flex-end;}
.flex-start {justify-content: flex-start;}
.align-center {align-items: center;}
.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}

/* grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* inline-block */
.inbTop{display: inline-block;vertical-align: top;}
.inbMid{display: inline-block;vertical-align: middle;}
.inbBot{display: inline-block;vertical-align: bottom;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Century Gothic";font-size: 20px;font-weight: 700;color: #fff;display: inline-block;padding: 16px 51px;background: #00A3D9;border: 1px solid transparent;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;resize: none;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "rockwellregular"; font-size: 47px;font-weight: 400;color:#00468C;}
h2 {font-family: 'rockwellregular'; font-size: 18px; font-weight: 400; color: #00468C; margin-bottom: 5px; letter-spacing: 8px;}
/*header*/
#header {background: #fff;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; list-style: none; display: flex; justify-content: space-between; align-items: center; width: 630px; margin: 0 auto; padding: 25px 0;}
#header nav ul li {}
#header nav ul li a {font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #666;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#00468C; text-shadow: 0 0 .9px #00468C, 0 0 .9px #00468C, 0 0 .9px #00468C;}
#header .hdtop {width: 100%; display: flex; justify-content: space-between; padding: 10px 0;}
#header .hdtop p {font-family: 'Lato', sans-serif; font-size: 13px; font-weight: 400; color: #00468C; text-align: left;}
#header .hdtop p span {margin-top: 3px; display: block; font-family: 'Century Gothic'; font-size: 15px; font-weight: 400; color: #444;}
#header .hdtop .phone span {font-size: 18px;}

/*banner*/
#banner {position: relative;}
#banner:before {content: ''; background: #00468C; position: absolute; width: 100%; height: 80%; top: 10%; left: 0; right: 0; margin: 0 auto; z-index: -1;}
#banner .row {max-width: 1440px;}
#banner .banner-box {padding: 25px 0 130px;background: url('../images/common/banner-bg.jpg') top left no-repeat; background-size: cover;}
#banner .banner-box a.banner-btn{margin-top: 25px; padding: 20px 40px; background: #00468C; border-radius: 10px; font-family: 'rockwellregular'; font-size: 18px; font-weight: 400; color: #fff;}
#banner .banner-box .quote {margin-top: 260px; font-family: 'rockwellregular'; font-size: 47px; font-weight: 400; color: #fff;}
#banner .banner-box .quote span {display: block;}

/*content*/
#content {background: #fff;}
#content h1 {font-family: 'rockwellregular'; font-size: 34px; font-weight: 400; color: #00468C; margin-bottom: 20px;}
#content .content-box {position: relative; display: flex; justify-content: space-between; align-items: center; z-index: 10; background: #fff; width: 1010px; box-shadow: 0 0 20px -4px #000; margin: -95px auto 0; padding: 20px 45px; border-radius: 20px; text-align: left;}
#content .left-items {width: 470px;}
#content .imgph-right {width: 480px;}
#content .imgph-right img {width: 100%}
#content .left-items .welcome {position: relative; font-family: 'Century Gothic'; font-size: 18px; font-weight: 700; color: #00468C; margin-bottom: 15px;}
#content .left-items .welcome:before {content: ''; background: #00468C; position: absolute; width: 64px; height: 5px; top: -25px; left: 0;}
#content .left-items .info {font-family: 'Century Gothic'; font-size: 15px; font-weight: 400; color: #525252; letter-spacing: 0.5px; line-height: 1.73; margin-bottom: 25px;}
#content .left-items a {background: #00468C; padding: 15px 30px; border-radius: 10px; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff;}

/*services*/
#services {padding: 175px 0 140px; position: relative; background: url(../images/common/services-bg.jpg) center center no-repeat; background-size: cover; margin-top: -125px;}
#services h2 {font-family: 'rockwellregular'; font-size: 47px; font-weight: 400; color: #00468C;}
#services .services-box {margin-top: 50px; display: flex; justify-content: space-between;}
#services .services-box img {width: 100%;}
#services .services-box dl {width: 300px;}
#services .info p {margin-top: 25px; font-family: 'rockwellregular'; font-size: 30px; font-weight: 400; color: #00468C;}
#services .info a {background: #00468C; margin-top: 25px; padding: 13px 26px; border-radius: 10px; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff; letter-spacing: 0.83px;}

/*info*/
#info {position: relative; margin: -90px 0;}
#info:before {content: ''; background: url('../images/common/info-bg.jpg') top center no-repeat; background-size: cover; position: absolute; width: 100%; height: 70%; top: 15%; left: 0; right: 0; margin: 0 auto; z-index: -1;}
#info .info-circle {display: flex; justify-content: center; align-items: center; flex-direction: column; background: #00468C; border-radius: 50%; box-shadow: 0 0 20px -4px #000;width: 600px; height: 600px; margin: 0 auto;}
#info .info-circle p, #info .info-circle a {font-family: 'rockwellregular'; font-size: 45px; font-weight: 400; color: #fff; max-width: 490px;}
#info .info-circle p {margin-bottom: 25px; line-height: 1.27; letter-spacing: 2px;}
#info .info-circle a {background: none; border: 1px solid #fff; border-radius: 10px; padding: 15px 40px; font-size: 18px;}

/*testimonials*/
#testimonials {background: url('../images/common/testimonials-bg.jpg') center center no-repeat; background-size: cover; padding: 100px 0 75px;}
#testimonials .testimonials-box {background: rgba(255,255,255,0.85); border-radius: 21px; padding: 20px 0;}
#testimonials h2, #testimonials .what {font-family: 'rockwellregular'; font-size: 47px; font-weight: 400; color: #00468C; margin-bottom: 35px;}
#testimonials .ibl {display: inline-block;}
#testimonials .what {margin-bottom: 5px; font-size: 18px; letter-spacing: 8px;}
#testimonials .clients-container {display: flex; flex-wrap: wrap; position: relative; justify-content: center;}
#testimonials .client {width: 497px;text-align: left; padding: 35px 0;}
#testimonials .client:nth-of-type(-n+2) {border-bottom: 1px solid #00468C;}
#testimonials .client:nth-of-type(odd) {border-right: 1px solid #00468C; padding-right: 60px;}
#testimonials .client:nth-of-type(even) {padding-left: 60px;}
#testimonials .name {font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; color: #00468C; margin-bottom: 10px;}
#testimonials .name span {font-size: 24px;}
#testimonials .feedback {font-family: 'Lato', sans-serif; font-size: 15px; font-weight: 400; font-style: italic; color: #202020; letter-spacing: 1.5px; line-height: 1.87; max-width: 480px;}
#testimonials .test-btn {position: absolute; display: flex; justify-content: center; align-items: center; background: #00468C; width: 90px; height: 90px; border-radius: 50%; top: 375px; right: 0; left: 0; margin: 0 auto; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff; letter-spacing: 1px;}
 /* gallery */
#gallery {background: url(../images/common/gallery-bg.jpg)no-repeat center top; background-size: cover; padding: 64px 0 29px;}
#gallery .row{max-width: 1220px}
#gallery h1, #gallery h2{color: #fff}
#gallery h1{margin-bottom: 35px;}
#gallery .gallery-images img{max-width: 274px; width: 100%;height: auto; margin: 10px 10px 20px;}
#gallery .gal-btn {background: #00468C; width: 90px; padding: 25px 0 30px; border-radius: 50%; margin: 0 auto; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff; letter-spacing: 1px;}
/* contact details */
#contact-details{background: url(../images/common/contact-details-bg.jpg)no-repeat center top; background-size: cover; padding: 65px 0 181px; margin-bottom: -131px;}
#contact-details .contactTop{padding: 0 0 25px;}
#contact-details .contactTop .left.col-6{width: 49.5%;}
#contact-details .contactTop .left {text-align: left;}
#contact-details .contactTop .left ul{color: #525252;padding-left: 10px;}
#contact-details .contactTop .left ul li{margin: 40px 0 40px 10px;}
#contact-details .contactTop .left ul li p{font-family: "Century Gothic"; font-size: 15px; font-weight: bold;max-width: 483px}
#contact-details .contactTop .right{text-align: left;}
#contact-details .contactTop .right h1{font-family: "Century Gothic"; font-weight: bold; font-size: 26px; color: #333333;line-height: 40px}
#contact-details .contactTop .right h1 span{display: block;font-size: 49px; color: #00A3D8}
#contact-details .contactTop .right .ctc-form input[type="text"], #contact-details .contactTop .right .ctc-form textarea {margin: 15px 0!important;width: 415px;border: 1px solid #888888; border-radius: 0; margin: 0;}
#contact-details .contactTop .right .ctc-form input[type="text"]::placeholder{font-size: 14px; font-family: "Century Gothic"; color: #535353;}
#contact-details .contactTop .right .ctc-form textarea::placeholder{font-size: 14px; font-family: "Century Gothic"; color: #535353;}
#contact-details .contactTop .right .contact-panel{max-width: 419px; padding: 31px 33px 40px;background: #fff; border-radius: 10px; box-shadow: 0 0 40px -10px;margin: 0 0 0 65px;}
#contact-details .contactTop .right p{text-align: left;font-size: 14px; font-family: "Century Gothic"; color: #535353;}
#contact-details .contactTop .right form [type="submit"] {margin: 20px 0 0 185px;}
#contact-details .contactTop .donations{max-width: 357px; margin: 30px 0 0 140px;}
#contact-details .contactBot {text-align: left;background: #00468C; padding: 25px 0 20px;}
#contact-details .contactBot .left img{position: relative; margin: -173px 0 -60px 20px;max-width: 348px; width: 100%;height: auto;}
#contact-details .contactBot .mid p.phone{font-family: "Century Gothic"; font-weight: bold;font-size: 36px; color: #fff}
#contact-details .contactBot .mid p a.socialMedia{font-size: 37px; margin: 10px 6px; color: #fff}
#contact-details .contactBot .mid{margin-left: 50px;}
#contact-details .contactBot .right{margin-left: 145px;}
#contact-details .contactBot .right p{font-family: "Century Gothic"; font-weight: 400; font-size: 15px; color: #fff; margin: 10px 0 20px;}
/*footer*/
#footer {position: relative;background: rgba(0,70,140, 0.9);padding: 20px 0;z-index: 999}
#footer .row{max-width: 1440px}
.footMid ul {margin: 0;padding: 0; list-style: none; display: flex; justify-content: space-between; align-items: center; width: 630px; margin: 0 auto;}
.footMid ul li {}
.footMid ul li a {font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff;}
.footMid ul li.active-menu a, .footMid ul li a:hover {color:#fff; font-weight: 700;}
#footer .copy, #footer .silver{font-family: "Century Gothic"; font-size: 13px; color: #63DEF8;margin: 10px auto;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer img.badge{margin: 0 30px;max-width: 90px;width: 100%;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content .ctc-form p{margin: 5px 0;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
.inner-about p{text-align: left; line-height: 30px}
.inner-services p{text-align: left; line-height: 30px}
.svc-box{text-align: left;padding: 20px 0;border: 5px solid #00468C;border-radius: 20px; box-shadow: 10px 10px 40px -10px; margin-bottom: 20px;}
.svc-box p{padding: 10px 40px;}
.svc-box h2{letter-spacing: 2px; font-size: 20px; border-bottom: 5px double #00468C;padding-bottom: 10px;margin-bottom: 20px;text-align: center;}
#repairs ul{columns: 3; list-style: disc inside;margin-top: 20px;padding: 0 40px;}
#repairs ul li{margin: 10px auto;}
#repairs ul p{display: inline;padding: 0;}
.testibox {text-align: left;padding: 0 0 20px;border: 5px solid #00468C;border-radius: 20px; box-shadow: 10px 10px 40px -10px; margin-bottom: 20px;}
.testibox dt{padding: 0 0 10px;letter-spacing: 1px; font-size: 15px; color: #fff; font-weight: 900;border-bottom: 5px solid #00468C;text-align: center;background-color: #00468C; overflow: hidden;}
.testibox dt span.star{font-size: 25px; color: #ffbb1d;}
.testibox dt span.grade{font-size: 20px; color: red;}
.testibox dd{padding: 20px 40px 0;}
.testibox dd p{margin-bottom: 10px;}
/*@media screen and (max-width: 1024px){
	body {min-width: 320px;}
	.row {width: 95%; margin: 0 auto;}
}

@media screen and (max-width: 800px){
	#header {margin: 50px 0 0;}
  #header .row {max-width: 100%; width: 100%;}
  #header nav {display: block; position: fixed; height: auto; z-index: 999; width: 100%; top: 0;}
  #header nav ul {width: 100%; display: none; height: auto; background: rgba(0,0,0,0.2);}
  #header nav ul li {width: 100%;position: relative;}
  #header nav ul li a {display: block;float:none;padding: 10px 0;}
  #header nav a {text-align: left; width: 100%; text-indent: 25px; }
  #header nav a#pull {display: block; color: #000; background-color: #fff; padding: 15px 0; width: 100%; position: relative;}
  #header nav a#pull:after {content: ""; color: #000; background: url(../images/nav-icon.png) no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 25px; top: 15px;}
}

@media screen and (max-width: 320px){}*/
